div(class="o-filePublishSettings")
  button(class="c-fileoption") New
    span
      i(class="mdi  mdi-note-plus" style="font-size: 20px; margin-left:5px")
  button(class="c-fileoption") Load
    span
      i(class="mdi  mdi-reload" style="font-size: 20px; margin-left:5px")
  button(class="c-fileoption") Save
    span
      i(class="mdi  mdi-content-save" style="font-size: 20px; margin-left:5px")
  button(class="c-fileoption") Delete
    span
      i(class="mdi  mdi-delete" style="font-size: 20px; margin-left:5px")
  button(class="c-fileoption") Data Card
    span
      i(class="mdi  mdi-database" style="font-size: 20px; margin-left:5px")
  button(class="c-fileoption") Export CSV
    span
      i(class="mdi  mdi-file-export" style="font-size: 20px; margin-left:5px")
  button(class="c-fileoption") Export PDF
    span
      i(class="mdi  mdi-file-pdf-box" style="font-size: 20px; margin-left:5px")
