div(class="m-header")
  ul(class="o-nav")
    li(class="c-link")
      a(href="#")
        span
          button Home
    li(class="c-link")
      a(href="#")
        span
          button Profile
    li(class="c-link")
      a(href="#")
        span
          button Project Level
    li(class="c-link")
      a(href="#") 
        span
          button Application
          
  div(class="o-logo")
    img(class="c-logo" src="public/images/logo.png")
      
div(class="m-mobile-header")
  select(class="o-mobile-nav")
    option(value="#") Home
    option(value="#") Profile
    option(value="#") Project Level
    option(value="#") Application
